<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/main"> <img src="https://www.infoem.org.mx/sites/default/files/logoInfoem001_0_0.png" style="width: 60px;"></a>
        </div>
    </div>
</nav>
